* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Global-all-style */
.main-container {
  width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
}

.p-text {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  background-color: #FD6E0A;
  color: #fff;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
}
.heading {
 font-size: 35px;
 font-weight: bold;
 color: #181818;
 margin-bottom: 30px;
}

header {
background-image: url(/images/developer.png), url(/images/header_bg.png);
background-repeat: no-repeat;
background-position: 23px 38px, bottom right;
}
header {
  background-color: #FFF8F3;
}


/* header-nav-section */

header nav {
 padding-top: 50px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
nav h3 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}
nav h3 .c-change {
  color: #FD6E0A;
}
.menu ul {
  display: flex;
  gap: 51px;
  align-items: center;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  color: #474747;
  text-decoration: none;
  font-size: 20px;
}

/* header-banner-section */

#banner .banner-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 46px;
}
#banner .banner-content{
  width: 585px;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px ;
}
#banner .button-box {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
#banner .button-box .changesss {
  color: #FD6E0A ;
  background-color: #FFF8F3 ;
  border: 1px solid #FD6E0A;
}

.banner-image img {
  vertical-align: middle;
  margin-right: -150px;
}

/* about-section-design */

#about .about-container {
  background-color: #FFF8F3;
  margin: 130px auto;
  text-align: center;
  padding: 131px 0;
  border-radius: 10px;

}
#about .about-content {
  width: 827px;
  margin: 0 auto;
}
#about .info-box {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 782px;
}

/* skills-section-design */
#skill .skill-container {
  margin: 130px auto;
  text-align: center;
}
#skill .skill-content {
  width: 827px;
  margin: 0 auto;
}
.card-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 24px;
}
#skill .card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 50px #00000010;
  border-radius: 5px;
}
#skill .card img {
  width: 44px;
  height: 44px;
}

/* Exprience-section-design  */

#experience .experience-container {
  margin: 130px auto;
  text-align: center;
}
#experience .main-ex-container {
  display: flex;
  margin-top: 114px;
  gap: 24px;
}
#experience .education-container {
  text-align: left;
  margin: 0 auto;
}
.education-container .atext {
  font-size: 30px;
}
.education-box .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.education-box .box p {
  width: 511px;
}

.experience-container .btn {
  margin-top: 50px;
}

footer {
  background-color: #FFF8F3;
  padding: 130px 0;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-1 {
  width: 550px;
}
.social {
  margin-top: 30px;
  display: flex;
  gap: 20px;

}
.form input[type="email"], input[type="text"], textarea {
  width: 350px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-bottom: 15px;

}