* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
/* btn-design */
.btn{
  background-color: #FD6E0A;
  color: #fff;
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* header-design */
header {
  background-color: #FFF8F3; 
  padding-top: 50px;
  background-image: url(/images/developer.png), url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav-design */
nav {
  max-width: 71%; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo_color {
  color: #FD6E0A;
}
nav .logo {
  font-size: 45px;
  font-weight: 900;
}
nav .menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav .menu li {
  list-style: none;
}
nav .menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* banner-design */
#banner { 
  max-width: 71%;
  margin: 0 auto       ;
  /* margin: 50px 80px 0 280px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2{
 font-size: 45px;
 font-weight: 600;
 color: #474747;
 margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold ;
  color: #181818 ;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-btn {
  display: flex;
  gap: 30px;
}
#banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}

/* about section */

#about {
  padding-top: 130px;
}
#about .about-container {
width: 71%;
margin: 0 auto;
text-align: center;
background-color: #FFF8F3;
padding: 131px 156px;
border-radius: 10px;
}
.section-heading {
  max-width: 827px;
  margin: 0 auto;
}
#about .section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
#about .section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#about .section-heading .about-info { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
.about-info .info-card p {
    font-size: 20px;
  line-height: 30px;
  color: #757575; 
}
.about-info .info-card h4 {
   margin-top: -25px;
   font-size: 20px;
}

/* skills-section */

#skills, #resume {
  padding-top: 130px;
  text-align: center;

}
#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.skills-container p {
  max-width: 827px; 
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 50px;

}
#skills .skills-box {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 24px;
}
#skills .skills-card {
  background-color: #fff; 
  box-shadow: 0 6px 50px 0 #00000010;
  padding: 30px;
  border-radius: 5px;
  width: 267px;
}
#skills .skills-card img {
  max-width: 44px;
  max-height: 44px; 
  margin-bottom: 30px;
}
#skills .skills-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#skills .skills-card p, .card-text {
  font-size: 16px; 
  line-height: 28px;
  color: #757575;
}

 

 #resume {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 24px;
 }
 #resume .resume-container {
  display: flex;
  text-align: left;
  gap: 24px;
  margin: 113px auto 0;
 }
 .resume-container .section-title { 
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}
.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 30px;

}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
 /* .resume-card .card-text {
  margin-bottom: 30px; 
  } */

  .resume-container hr {
    color: #D1D1D1;
    margin: 30px 0;
  }