* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #FD6E0A;
  color: #fff;
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}


header {
  background-color: #FFF8F3; 
  padding-top: 50px;
}
nav {
  max-width: 71%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo_color {
  color: #FD6E0A;
}
nav .logo {
  font-size: 45px;
  font-weight: 900;
}
nav .menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav .menu li {
  list-style: none;
}
nav .menu li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

